@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

#hero {
    display: flex;
}

#left {
    width: 12%;
    height: 100vh;
    padding: 1rem 0.6rem;
    background-color: rgb(17, 24, 39);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.logo>img {
    height: 3rem;
    border-radius: 0.6rem;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 18px;
}

.menu ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

#right {
    width: 88%;
    padding: 1rem;
}

h1 {
    margin-bottom: 2rem;
}

/* Dashboard view */
#dashboard-view {
    /*block*/
    display: block;
    overflow-x: auto;
}

.card-wrapper {
    display: flex;
    gap: 2rem;
}

.card {
    width: 15rem;
    padding: 1rem 1.5rem;
    border: 1px solid black;
    border-radius: 0.9rem;
    text-align: center;
}

.card>h2 {
    font-weight: 500;
}

/* Controls-view */
#controls-view {
    /* block */
    display: none;
    overflow-x: auto;
}

/* Transactions */
#transaction-view {
    /* block */
    display: none;
    overflow-x: auto;
}

/* Grievance */
#grievance-view {
    /* block */
    display: none;
}

#grievance-view>form {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1rem;
}

.input-group {
    width: 30%;
}

.input-group>label {
    display: block;
}

.input-group>input[type="text"],
textarea,
select {
    width: 100%;
    padding: 0.2rem 1rem;
}

input[type="reset"],
input[type="submit"] {
    padding: 0.2rem 0.4rem;
    font-size: 15px;
    font-weight: 500;
}

#description {
    height: 4rem;
    resize: none;
}

/* FAQ */
#faq-view {
    display: none;
}

.faq-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.faq-section h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.accordion {
    max-height: 63vh;
    overflow-x: auto;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-header {
    background-color: rgb(198 198 198);
    border-radius: 0.6rem;
    color: rgb(51, 51, 51);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: background-color 0.3s;
}

.accordion-header:hover {
    background-color: rgb(233, 233, 233);
}

.accordion-content {
    padding: 10px;
    display: none;
}

.accordion-item.active .accordion-content {
    display: block;
}