* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#move-img {
    height: 60px;
    width: 60px;
    text-align: center;

    position: relative;
    top: 0;
    left: 0;
}

#move-img img {
    height: 42px;
    width: 42px;
}