#main {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main > h1 {
    width: 50%;
    margin-bottom: 1rem;
    text-align: center;
    color: #20BC7F;
    font-weight: 700;
}

#main > p {
    width: 50%;
    margin-bottom: 1rem;
    text-align: center;
}

#main #about-us-card {
    width: 57%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main #about-us-card .card {
    width: 200px;
    border-radius: 0.6rem;
    padding: 1rem 2rem;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main #about-us-card .card h1 {
    color: #20BC7F;
    font-weight: 700;
}

#main #about-us-card .card p {
    font-size: 21px;
    font-weight: 700;
}