@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F6F8FA;
}

/* Header */

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Photos/mainBackground.png") no-repeat center center/cover;
    height: 100%;
    width: 100%;
    padding: 0 5rem 5rem 5rem;
}

header nav {
    padding: 2rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav #brand-logo img {
    height: 42px;
}

header nav #nav-items ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

header nav #nav-items ul a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}

header #overview {
    margin: 6rem 0 7rem 4rem;
}

header #overview h1 {
    width: 60%;
    margin-bottom: 2rem;
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 600;
}

header #overview p {
    width: 40%;
    margin-bottom: 1.5rem;
    color: #FFFFFF;
    font-size: 1rem;
}

header #overview #learn-more {
    padding: 0.5rem 2rem;
    border-radius: 1.7rem;
    background-color: #6663E9;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
}


/* Logos */

#logos {
    width: 90%;
    height: 10rem;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 1rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: relative;
    bottom: 5rem;
    z-index: 1;
}

/* Location */
#locations {
    background-color: #F6F8FA;
    position: relative;
    top: -10rem;
    padding: 10rem 3rem 0 3rem;
    display: flex;
    flex-direction: column;
}

#locations>h1 {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 6rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4rem;
    justify-content: center;
    align-items: center;
}

.card-container>div:nth-child(2) {
    margin-top: 4.5rem;
}
.card-container>div:nth-child(3) {
    margin-top: 8.5rem;
}
.card-container>div:nth-child(4) {
    margin-top: 13.5rem;
}
.card-container>div:nth-child(5) {
    margin-top: 8.5rem;
}
.card-container>div:nth-child(6) {
    margin-top: 4.5rem;
}
.card-container>div:nth-child(7) {
    margin-top: 4.5rem;
}
.card-container>div:nth-child(8) {
    margin-top: 8.5rem;
}
.card-container>div:nth-child(9) {
    margin-top: 13.5rem;
}

.card {
    height: 25rem;
    width: 23rem;
    flex-grow: 0;
    border-radius: 2px solid black;
}

.card>.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.card>.card-info {
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem 1rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 4rem;
}

.card>.card-info>p {
    font-size: 21px;
    font-weight: 700;
}

.card>.card-info>p>span {
    display: block;
    color: #6663E9;
}

.card>.card-info>div {
    border-radius: 1.5rem;
    background-color: #6663E9;
    padding: 0.5rem 2rem;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

/* Book Estate */

#book-estate {
    background-color: #F6F8FA;
}

#book-estate>#top,
#book-estate>#bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#book-estate>#top>.img-sec>img:first-child {
    height: 35rem;
    width: 35rem;
}

#book-estate>#bottom>.img-sec>img:first-child {
    height: 32rem;
    width: 43rem;
}

#book-estate .img-sec>img:nth-child(2) {
    height: 25rem;
    width: 25rem;
    border-radius: 2rem;
    position: absolute;
    z-index: 2;
}

#book-estate>#top>.img-sec>img:nth-child(2) {
    left: 7rem;
}

#book-estate>#bottom>.img-sec>img:nth-child(2) {
    right: 7rem;
}

#book-estate .text-sec {
    width: 50%;
    padding: 0 3.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

#book-estate .text-sec>h1 {
    font-size: 60px;
}

#book-estate .text-sec>p {
    color: #585c65;
    font-size: 18px;
}

#book-estate .text-sec>.early-book {
    width: fit-content;
    padding: 0.5rem 2rem;
    border-radius: 1.7rem;
    background-color: #6663E9;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
}

/* Newsletter */

#newsletter {
    width: 90%;
    margin: 0 4rem;
    padding: 4rem 10rem;
    border-radius: 4rem;
    background-color: #6663E9;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
}

#newsletter h1 {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}

#newsletter p {
    width: 81%;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

#newsletter form {
    width: 72%;
    display: flex;
    justify-content: space-between;
}

#newsletter form .input-group {
    border-radius: 2rem;
    padding: 1rem;
    background-color: #5654D1;
    display: flex;
    align-items: center;
}

.input-group input {
    width: 24rem;
    padding-left: 1rem;
    background-color: #5654D1;
    color: #FFFFFF;
    border: none;
    outline: none;
    font-size: 15px;
}

#newsletter form button {
    border: none;
    border-radius: 2rem;
    background-color: #FFFFFF;
    color: #5654D1;
    padding: 1rem 2rem;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

/* Footer */

footer {
    margin: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .brand-info {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

footer .brand-info>img {
    width: 30%;
}

footer .brand-info>.social {
    display: flex;
    column-gap: 2rem;
}

footer .brand-info p {
    width: 50%;
}

footer .footer-link {
    display: flex;
    gap: 6rem;
}

.footer-link-items h2 {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.footer-link-items ul {
    list-style: none;
}

.footer-link-items ul>li {
    margin-bottom: 1.5rem;
    cursor: pointer;
}