@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Progess Bar */
#progress_bar-container {
    width: 100%;
    height: 6px;
    background-color: rgb(240, 240, 240);
    position: fixed;
    top: 0;
    left: 0;
}

#progress_bar {
    height: 100%;
    width: 0%;
    background-color: rgb(252, 93, 53);
    transition: width 0.3s linear;
}

/* Navbar */
#navbar {
    width: 100%;
    padding: 1rem 6rem;
    background-color: rgb(247, 247, 247);
}

#navbar>nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo img {
    height: 39px;
}

#logo span {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
}

#nav-items>ul {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 4rem;
}

#nav-items a {
    text-decoration: none;
    color: rgb(77, 55, 52);
}

/* Hero */
#hero {
    width: 100%;
    padding: 2rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 247, 247);
}

.left {
    width: 42%;
}

.left h1 {
    margin-bottom: 2rem;
    font-size: 60px;
    font-weight: 700;
    line-height: 4.5rem;
}

.left p {
    margin-bottom: 2rem;
}

.left #shop_now {
    border-color: rgb(252, 93, 53);
    background-color: rgb(252, 93, 53);
    outline: none;
    padding: 0.8rem 2rem;
    text-transform: uppercase;
    font-size: 15px;
}

.left #contact_us {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    outline: none;
    padding: 0.8rem 2rem;
    text-transform: uppercase;
    font-size: 15px;
}

.right {
    width: 51%;
}

/* Services */
#services {
    width: 100%;
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#services button {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    outline: none;
    padding: 0.8rem 2rem;
    text-transform: uppercase;
    font-size: 15px;
}

.card_list-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 27%;
    border: 1px solid black;
    border-radius: 0.6rem;
    padding: 1rem 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    margin-bottom: 1rem;
}

.card p {
    text-align: center;
}

.card .card_main_text {
    margin-bottom: 1rem;
    color: rgb(252, 93, 53);
    font-size: 21px;
}

/* Fruits */
#buy_fruits {
    width: 100%;
    padding: 3rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fruits_list-item {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fruit_desc {
    width: 60%;
}

.fruit_desc h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.fruit_desc button {
    margin-top: 1rem;
    padding: 0.6rem 2rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.fruits_list-item img {
    width: 250px;
}

.fruits_list-item img[alt="Grapes"] {
    width: 100px;
}

/* Tasty Fruits */
#tasty-fruits {
    width: 100%;
    height: 500px;
    background: url("../assets/tasty-image.png") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tasty-fruits h1 {
    font-size: 125px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

/* Testimonials */
#testimonials {
    width: 100%;
    padding: 3rem 6rem;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#testimonials>h1 {
    margin-bottom: 1rem;
}

#testimonials>p {
    margin-bottom: 2rem;
}

#testimonial-container {
    width: 70%;
    text-align: center;
}

#testimonial-container h2 {
    margin: 1rem auto;
    font-size: 24px;
    font-weight: 500;
}

/* Contact Us */
#contact-us {
    width: 100%;
    background: url("../assets/orange-dish.png") no-repeat right;
    padding: 4rem 6rem;
}

.contact-us-container {
    width: 60%;
}

.contact-us-container h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.input-group>input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin-bottom: 1rem;
    padding: 0.6rem 1rem;
    font-size: 18px;
    font-weight: 400;
}

.input-group>input[name="message"] {
    height: 9rem;
}

.contact-us-container button[type="submit"] {
    border: none;
    background-color: rgb(252, 93, 53);
    color: rgb(0, 0, 0);
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    font-size: 16px;
}

/* Footer */
footer {
    background-color: rgb(0, 0, 0);
    color: rgb(247, 247, 247);
    width: 100%;
    padding: 2rem 15rem;
    display: flex;
    justify-content: space-between;
}

footer h2 {
    margin-bottom: 1rem;
    font-size: 27px;
    font-weight: 400;
}

footer ul {
    list-style: none;
    cursor: pointer;
}

footer ul>li {
    margin-top: 0.5rem;
}

footer a {
    text-decoration: none;
}

footer img {
    filter: invert(1);
}

#subscribe input {
    border: none;
    outline: none;
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    font-size: 15px;
}

#subscribe button {
    border-color: rgb(252, 93, 53);
    background-color: rgb(252, 93, 53);
    outline: none;
    border-radius: 0.3rem;
    margin-top: 0.4rem;
    padding: 0.2rem 2rem;
    text-transform: uppercase;
    font-size: 15px;
}