/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: linear-gradient(to right, #F0CB35, #C02425);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: #000000;
    padding: 1rem;
    border-radius: 1rem;
}

#display {
    height: 12rem;
    width: 18rem;
    margin-bottom: 0.5rem;
    font-size: 27px;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

#keys {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 4rem 4rem 4rem 4rem;
    gap: 0.5rem;
}

#keys button {
    padding: 1rem;
    font-size: 21px;
    font-weight: 500;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

#keys #all-clear {
    grid-column: span 2;
}

#keys button:nth-child(16) {
    grid-column: span 2;
}

#keys #backspace img {
    filter: invert(1);
    height: 21px;
}

#keys #equal {
    background-color: #CD5129;
    border-radius: 2rem;
}

#keys button:active {
    background-color: #CD5129;
}